.tag {
	display: inline-block;
	padding: .25em .4em;
	font-size: 80%;
	font-weight: 500;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.tag-light {
	color: $color_base;
	background-color: $color_lighter;
}

.tag-primary {
	color: $color_lighter;
	background-color: $color_brand_main;
}