@import '../base/variables';

.chat-container {
	height: 100%;
	background-color: $color_lighter;
	display: flex;
	flex-direction: column;
	box-shadow: -8px 0 8px 0 rgba(0, 0, 0, 0.1);
	transition: height 0ms ease;
	z-index: 1;
	overflow: hidden;
	border-left: 1px solid #EEF0F5;
}

.message-selector {
	border-bottom: 1px solid #EEF0F5;
	height: 40px;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 40px;
	
	.btn {
		position: relative;
		color: $color_gray_lighter;
		text-transform: uppercase;
		font-size: 75%;
		
		&:hover {
			background-color: lighten($color_brand_main, 80%);
		}
		
		&.active::after {
			background: none repeat scroll 0 0 transparent;
			bottom: -1px;
			content: '';
			display: block;
			height: 2px;
			left: 0;
			position: absolute;
			background: lighten($color_brand_main, 25%);
			transition: width 0.3s ease 0s, left 0.3s ease 0s;
			width: 100%;
		}
		
	}
}

.conversation-list {
	height: calc(100% - 200px);
	list-style: none;
	padding: $gap;
	flex: 1 1 auto;
	overflow-y: auto;
	scrollbar-width: thin;
	margin: 0;
}
