// main: ../style.scss

.banners {
  position: relative;
  
  .close {
    top: 50%;
    right: 1rem;
    transform: translateY(-60%);
    
    @media (max-width: $phone) {
      display: none;
    }
  }
  
  &.default {
    background-color: $color_brand_accent;
    
    .close {
      display: none;
    }
    
    .banner {
      padding: 1.8rem 0;
      justify-content: flex-start;
      align-items: center;
      background-image: url(assets/img/shapes/banner-horizontal-bg.svg);
      background-position: top right;
      background-repeat: no-repeat;
      
      .banner-title {
        color: $color_brand_main;
        margin-bottom: .5rem;
        
        @media (max-width: $phone) {
          max-width: 75%;
        }
      }
    }
  }
  
  &.newsletter {
    background-color: $color_light;
    background-image: url(assets/img/pattern/pattern-squared.png);
    background-position: top right;
    background-repeat: repeat;
    
    .close {
      display: none;
    }
    
    .banner {
      padding: 1.8rem 0;
      justify-content: flex-start;
      align-items: flex-start;
      
      .banner-title {
        color: $color_brand_main;
        margin-bottom: .5rem;
        
        @media (max-width: $phone) {
          max-width: 75%;
        }
      }
    }
  }
  
  &.promo {
    background-color: $color_brand_secondary;
    
    &::before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.25;
      background-image: url(assets/img/pattern/pattern-dark.png);
      background-size: 160px;
      background-position: top left;
      background-repeat: repeat;
      z-index: 0;
    }
    
    .banner {
      padding: 1rem 0;
      
      .banner-content {
        display: flex;
        align-items: baseline;
        color: $color_brand_dark;
        
        @media (max-width: $phone) {
          flex-direction: column;
        }
        
        .banner-title {
          font-size: 2rem;
          font-weight: 700;
          margin: 0 2rem 0 0;
        }
        .banner-text {
          flex: 0 0 auto;
          font-size: 1.25rem;
        }
      }  
    }
  }
}

.banner {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  @media (max-width: $phone) {
    flex-direction: column;
  }
  
  .banner-icon {
    align-self: flex-start;
    margin-right: 1rem;
    display: flex;
    flex: 0 0 auto;
  }
  
  
  .banner-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: .5rem;
  }
  
  .banner-cta {
    margin-left: auto;
    
    @media (max-width: $phone) {
      margin: 0;
      width: 100%;
    }
    .btn {
      @media (max-width: $phone) {
        margin-top: .5rem;
        display: block;
      }
    }
  }
}

.banner-vertical {
  padding: 2rem;
  background-color: $color_brand_accent;
  transform-style: preserve-3d;
  position: relative;
  margin-top: 3rem;
  
  &::after {
    @extend .dot-pattern;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 10px;
    top: 10px;
    transform: translateZ(-1px);
  }
  
  .banner-title {
    font-weight: 500;
    font-size: 1.5rem;
    color: $color_brand_main;
    position: relative;
    margin: 0 0 1.5rem;
  }
  
  .btn {
    margin-top: 2rem;
  }
  
}

.newsletter {
  .banner {

    @media (max-width: $tablet) {
      display: block;
    }
    
    
    #_form_5E261A1C5BFFB_ {
      display: block;
      width: 100%;
    }
    
    ._form_1 {
      width: 100%;
      
      > div {
        text-align: left;
        
        @media (max-width: $phone) {
          width: 100%;
        }
      }
    }
    
    ._form-content  {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;

      ._button-wrapper {
        margin: .5rem;
      }
    
      & > ._form_element {
        margin: .5rem;
        flex: 1 1 20ch;
    
        &._x24009600 {
          flex: 3 1 30ch;
        }
      }
    }
    
    ._form-title {
      font-size: 2rem;
      font-weight: 500;
      color: $color_brand_main;
    }
    
    ._field-wrapper {
      
      input {
        @extend .form-control;
      }
    }
    
    #_form_1_submit {
      @extend .btn;
      @extend .btn-primary;
      padding: .65rem 1.25rem !important;
    }
    
  }
}

._error._below {
  position: absolute;
}

._error-arrow {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid $color_brand_accent;
}

._error-inner {
  font-size: 85%;
  line-height: 1;
  background: $color_brand_accent;
  padding: 4px 8px;
  margin: 0;
}
