// main: ../style.scss

.footer-main {
	padding: $gap $gap * 1.5;
	
	a {
		color: $color_gray_light;
	}
	
	.social {
		text-align: right;
		
		@media (max-width: $tablet) {
			text-align: left;
		}
		
		ul {
			list-style: none;
			padding: 0;
			@media (max-width: $phone) {
				display: flex;
			}
			
			li a {
				display: inline-block;
				padding: 8px 0;
				width: 48px;
				height: 48px;
				color: transparent;
				background-size: contain;
			}
			
			.fb {
				background-image: url('assets/img/icons/facebook.svg');
			}
			.lk {
				background-image: url('assets/img/icons/linkedin.svg');
			}
			.tw {
				background-image: url('assets/img/icons/twitter.svg');
			}
			.ig {
				background-image: url('assets/img/icons/instagram.svg');
			}
		}
	}
	
	.copy {
		border-top: 1px solid $color_light;
		padding-top: $gap;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		
		@media (max-width: $phone) {
			flex-direction: column;
			text-align: center;
		}
		
		small {
			display: inline-block;
			margin-right: 24px;
		}
	}
}
