// main: ../style.scss

.frame {
  position: relative;
  display: block;
  z-index: 1;

  &::before {
    border: 1px solid $color_brand_main;
    content: '';
    display: block;
    height: 100%;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 100%;
    z-index: 1;
  }
  &::after {
    background: transparent url(assets/img/pattern/pattern-dots.png) repeat top left;
    content: '';
    display: block;
    height: 100%;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: -1;
  }
}
