// main: ../style.scss

.main-content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "banner banner banner sidebar"
  "main main main sidebar"
  "footer footer footer sidebar";

  @media (max-width: $tablet) {
    grid-template-areas: 
    "banner banner banner banner"
    "main main main main"
    "sidebar sidebar sidebar sidebar"
    "footer footer footer footer";
  }
}

.banner {
	grid-area: banner;
}

.video-container {
	grid-area: main;
}

.chat-container {
	grid-area: sidebar;
}

.footer-main {
	grid-area: footer;
}