// main: ../style.scss

#app {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr) 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	'header header header header'
	'main main main sidebar';
	
	@media (max-width: $tablet) {
		grid-template-areas: 
		'header'
		'main'
		'sidebar'
	}
}

.header-main {
	grid-area: header;
}

.main {
	grid-area: main;
}

.sidebar {
	grid-area: sidebar;
}

.main,
.sidebar {
	height: calc(100vh - 52px);
	scrollbar-width: thin;
	overflow-y: auto;
}

// .main {
// 	overflow: auto;
// 	visibility: hidden;
// 	transition: visibility 0.2s;
// }

// .content,
// .main:hover,
// .main:focus {
// 	visibility: visible;
// 	transition: visibility 0s 0.2s;
// }

.simplebar-scrollbar.simplebar-visible::before {
	opacity: .33;
	width: 6px;
}