.main {
	position: relative;
	display: grid;
	grid-auto-columns: 1fr minmax(25%, 300px);
	grid-template-rows: auto;
}


.content {
	grid-column: 1;

}

.sidebar {
	grid-column: 2;

}

.content,
.sidebar {
	height: calc(100vh - 52px);
	// scrollbar-width: thin;
	// overflow-y: auto;
}

.simplebar-scrollbar.simplebar-visible::before {
	opacity: .33;
	width: 6px;
}